<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img src="profil-images/20180506_162941.jpg" alt="">
                    </a>
                    <!--TODO mettre les variables de nom-->
                    <h5 class="">
                        {{user?.username}}
                    </h5>

                </div>

                <ul class="nav nav-pills nav-stacked">
                    <li class="active"><a href="#"> <i class="fa fa-user"></i> Profil</a></li>
                    <li><a href="#"> <i class="fa fa-calendar"></i> Activités récentes <span
                                class="label label-warning pull-right r-activity"></span></a></li>
                    <li><a [routerLink]="[]" (click)="navigateToInfosProfile()"> <i
                                class="fa fa-edit link-opacity-25"></i> Editer
                            profile</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="panel">
                <form>
                    <textarea placeholder="Quelle est votre humeur ajourd'hui ?" rows="2"
                        class="form-control  input-lg p-text-area"></textarea>
                </form>
                <footer class="panel-footer">
                    <button class="btn btn-success pull-right">Poster</button>
                    <ul class="nav nav-pills">
                        <li>
                            <a href="#"><i class=""></i></a>
                        </li>
                        <li>
                            <a href="#"><i class=""></i></a>
                        </li>
                        <li>
                            <a href="#"><i class=" "></i></a>
                        </li>
                        <li>
                            <a href="#"><i class=""></i></a>
                        </li>
                    </ul>
                </footer>
            </div>
            <div class="panel">

                <!--Si humeur de l'utilisateur ,affiche-->
                @if (user && user.bio && user.bio.trim() !== '') {
                <div class="bio-graph-heading">
                    {{user.bio}}
                </div>
                }

                <div class="panel-body bio-graph-info">
                    <br>
                    <div class="row">

                        <!--Si prenom, affiche-->
                        <div class="bio-row">
                            @if(user && user.first_name?.trim() !== ''){
                            <p><span>Prénom </span>: {{user.first_name}}</p>
                            }
                        </div>

                        <!--si nom, affiche-->
                        <div class="bio-row">
                            @if(user && user.last_name?.trim()!==''){
                            <p><span class="w-25">Nom de famille </span>: {{user.last_name}}</p>
                            }
                        </div>

                        <!--si ville, affiche-->
                        <div class="bio-row">
                            @if(user && user.city){
                            <p><span>Location </span>: {{user.city}}</p>
                            }
                        </div>

                        <!--si date de naissance, affiche-->
                        <div class="bio-row">
                            @if(user && user.birthdate !== null){
                            <p><span class="w-auto">Date de naissance</span>: {{user.birthdate | date:'dd/MM/yyyy'}}</p>
                            }
                        </div>
                        <!-- <div class="bio-row">
                            <p><span>Ville </span>: Sombreffe</p>
                        </div> -->

                        <div class="bio-row">
                            @if(user && user.email){
                            <p><span>Email </span>: {{user.email}}</p>
                            }
                        </div>

                    </div>
                </div>
            </div>
            <div>
                <div class="row">
                    <div class="col-md-6 mt-4">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">

                                </div>
                                <div class="bio-desk">
                                    <h4 class="green">Messages</h4>
                                    <a>Nouveau message</a><br>
                                    <a>Messages reçus</a><br>
                                    <a>Messages envoyés</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">

                                </div>
                                <div class="bio-desk">
                                    <h4 class="terques">Forum </h4>
                                    <a>Nouveau post</a><br>
                                    <a>En réponse à vos posts</a><br>
                                    <a>Accéder au forum</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">

                                </div>
                                <div class="bio-desk">
                                    <h4 class="green">Recettes</h4>
                                    <a>Créer une recette</a><br>
                                    <a>Vos recettes</a><br>
                                    <a>Accéder aux dernières recttes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="panel">
                            <div class="panel-body">
                                <div class="bio-chart">

                                </div>
                                <div class="bio-desk">
                                    <h4 class="purple">Vos articles</h4>
                                    <a>Nouvel article</a><br>
                                    <a>Articles publiés</a>
                                    <a>Consulter les derniers articles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>