<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row">
        <div class="profile-nav col-md-3">
            <div class="panel">
                <div class="user-heading round">
                    <a href="#">
                        <img src="profil-images/20180506_162941.jpg" alt="">
                    </a>
                    <!--TODO mettre les variables de nom-->
                    <h5 class="">
                        {{user?.username}}
                    </h5>

                </div>

                <ul class="nav nav-pills nav-stacked list-group">
                    <!-- <li class="active"><a href="#"> <i class="fa fa-user"></i>Profil</a></li> -->

                    <!--TODO activités récentes-->
                    <!-- <li><a href="#"> <i class="fa fa-calendar"></i> Activités récentes <span
                                class="label label-warning pull-right r-activity"></span></a></li> -->
                    <li><a href="#"> <i class="fa fa-globe mt-4"></i>Contacts</a></li>
                    <li><a href="#"> <i class="fa fa-envelope"></i>Messages </a></li>
                    <li><a href="#"> <i class="fa fa-cog"></i>Forum</a></li>
                    <li><a href="#"> <i class="fa fa-cutlery"></i> Vos recettes</a></li>
                    <li><a href="#"> <i class="fa fa-book"></i> Vos articles</a></li>
                    <li><a [routerLink]="[]" (click)="navigateToInfosProfile()"> <i
                                class="fa fa-edit link-opacity-25"></i>Editer
                            profile</a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="profile-info col-md-9">
            <div class="panel">
                <form>
                    <textarea placeholder="Quelle est votre humeur ajourd'hui ?" rows="2"
                        class="form-control  input-lg p-text-area"></textarea>
                </form>
                <footer class="panel-footer">
                    <button class="btn btn-success pull-right">Poster</button>
                    <ul class="nav nav-pills">
                        <li>
                            <a href="#"><i class=""></i></a>
                        </li>
                        <li>
                            <a href="#"><i class=""></i></a>
                        </li>
                        <li>
                            <a href="#"><i class=" "></i></a>
                        </li>
                        <li>
                            <a href="#"><i class=""></i></a>
                        </li>
                    </ul>
                </footer>
            </div>
            <div class="panel">

                <!--Si humeur de l'utilisateur ,affiche-->
                @if (user && user.humor && user.humor.trim() !== '') {
                <div class="bio-graph-heading">
                    {{user.humor}}
                </div>
                }

                <div class="panel-body bio-graph-info">
                    <br>
                    <div class="row">

                        <!--Si prenom, affiche-->
                        <div class="bio-row">
                            @if(user && user.first_name?.trim() !== ''){
                            <p><span>Prénom </span>: {{user.first_name}}</p>
                            }
                            @else{
                            <p><span>Prénom </span>: --- </p>
                            }
                        </div>

                        <!--si nom, affiche-->
                        <div class="bio-row">
                            @if(user && user.last_name?.trim()!==''){
                            <p><span class="w-25">Nom de famille </span>: {{user.last_name}}</p>
                            }
                            @else{
                            <p><span class="w-25">Nom de famille </span>: --- </p>
                            }
                        </div>

                        <!--si ville, affiche-->
                        <div class="bio-row">
                            @if(user && user.city){
                            <p><span>Ville </span>: {{user.city}}</p>
                            }
                            @else{
                            <p><span>Ville </span>: --- </p>
                            }
                        </div>

                        <!--si date de naissance, affiche-->
                        <div class="bio-row">
                            @if(user && user.birthdate !== null){
                            <p><span class="w-auto">Date de naissance</span>: {{user.birthdate | date:'dd/MM/yyyy'}}</p>
                            }
                            @else{
                            <p><span class="w-auto">Date de naissance</span>: --- </p>
                            }
                        </div>
                        <!-- <div class="bio-row">
                            <p><span>Ville </span>: Sombreffe</p>
                        </div> -->

                        <div class="bio-row">
                            @if(user && user.email){
                            <p><span>Email </span>: {{user.email}}</p>
                            }
                        </div>

                    </div>
                    <div>
                        <h4 class="text-center mb-5 mt-3">A propos de moi</h4>
                        @if(user && user.bio?.trim() !== ''){
                        <p>{{user.bio}}</p>
                        }
                        @else{
                        <p>---</p>
                        }
                    </div>
                </div>
            </div>
            <div>


            </div>
        </div>
    </div>
</div>