<footer class="bg-body-tertiary bg-success-subtle">
    <div class="container footer-grid" role="contentinfo">
        <div class="footer-brand">
            <div class="brand"><span class="logo"><img src="home-images/heart-logo.png" width="30" height="30"
                        alt=""></span><span>Glycool</span></div>
            <p style="margin:.5rem 0 0">Partage d’expériences, rigueur des infos, et bienveillance pour toutes
                et
                tous.</p>
        </div>
        <div class="footer-col">
            <strong>Contenus</strong>
            <div><a href="#infos">Guides</a></div>
            <div><a href="#recettes">Recettes</a></div>
            <div><a href="#forum">Forum</a></div>
        </div>
        <div class="footer-col">
            <strong>À propos</strong>
            <div><a href="#">Charte & sources</a></div>
            <div><a href="#">Contact</a></div>
            <div><a href="#">Mentions légales</a></div>
        </div>
        <div class="footer-col">
            <strong>Ressources</strong>
            <div><a href="#">Urgences & numéros utiles</a></div>
            <div><a href="#">Associations</a></div>
            <div><a href="#">Téléchargements</a></div>
        </div>
    </div>
</footer>