<!-- Section: Design Block -->
<section class=" text-center text-lg-start">
    <!-- <div class="card mb-3 w-50 m-auto">-->
    <div class="row g-0 d-flex align-items-center">

        <div class="col-lg-8 w-50 m-auto">
            <div class="card-body py-5 px-md-5">

                <form (ngSubmit)="connexion()" [formGroup]="form" class="card p-4 m-auto" style="max-width: 400px;">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline m-auto mb-4">
                        <label class="form-label" for="form2Example1">Email address :
                            <input type="email" formControlName="email" id="form2Example2" class="form-control" />
                        </label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline m-auto mb-4">
                        <label class="form-label" for="form2Example1">password :
                            <input type="password" formControlName="password" id="form2Example1" class="form-control" />
                        </label>
                    </div>

                    <!-- 2 column grid layout for inline styling -->
                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <!-- Checkbox -->
                            <!--TODO add checkbox management-->
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="form2Example31" />
                                <label class="form-check-label" for="form2Example31"> Remember me </label>
                            </div>
                        </div>
                        <!--TODO Manage forgotted password with email page-->
                        <div class="col">
                            <!-- Simple link -->
                            <a class="text-success" href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init
                        class="btn btn-success btn-block mb-4">Sign in</button>

                </form>

            </div>
        </div>
    </div>
    <!--   </div> -->
</section>
<!-- Section: Design Block -->